<div class="unconfirm">
  <strong>*No spaces or special characters</strong><br>
  <div class="examples">
    <span>john123 <i class="fa fa-check yes"></i></span><br>
    <span>j0hn5m1th <i class="fa fa-check yes"></i></span><br>
    <span>john_sm*th <i class="fa fa-times no"></i></span><br>
  </div>
</div>

<div class="confirm">
  Awesome username!
</div>