<div class="comment-form">
	<%= simple_form_for ([@post, @post.comments.build]) do |f| %>
		<div class="comment-area">
			<%= f.input :content, label: "Comment here:", placeholder: "Blah blah blah..." %>
		</div>
		<%= f.button :submit %>
	<% end %>
</div>