<div class="comment-form">
	<%= simple_form_for([@post, @post.comments.build]), remote: true do |f| %>
		<div class="comment-area">
			<%= f.input :content, label: "Comment Here:", placeholder: "Blah blah blah..." %>
		</div>
		<%= f.button :submit %>
	<% end %>
</div>