<h1>Post about <%= @query %></h1>
<div class="post-container">
	<% @post_results.each do |post| %>
		<%= render partial: post %>
	<% end %>
</div>

<h1>Posts tagged with "<%= @query %>"</h1>
<% @tag_results.each do |post| %>
	<%= render partial: post %>
<% end %>