
 // * This is a manifest file that'll be compiled into application.css, which will include all the files
 // * listed below.
 // *
 // * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 // * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 // *
 // * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 // * compiled file so the styles you add here take precedence over styles defined in any styles
 // * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 // * file per style scope.
 // *
 // *= require_tree .
 // *= require_self
 // */

 @import "appwide";

.main-container {
	min-height: 100vh;
	width: 100vw;
	height: auto;
}

// see header.css.scss for the layout header css
// see form.css.scss for form styling

// width of username-hint on AJAX call
.registration-form {
	.username-hint {
		width: 100%;
	}
}

// width of username on regular sign-up page
.username-hint {
	position: relative;
	@include position-x;
	left: 50%;
	background-color: $form-color;
	width: 60%;
	padding: 1em;
	margin-bottom: 2em;
	color: $text-color;
	.unconfirm {
		margin-bottom: 1em;
		.examples {
			margin-top: 1em;
			.yes {
				color: green;
			}
			.no {
				color: red;
			}
		}
	}
	.confirm {
		display: none;
		width: 100%;
		padding: 1em;
		text-align: center;
		background-color: green;
		color: #fff;
	}
}

#user_current_password::-webkit-input-placeholder {
		color: red;
}

.scroll-up {
	@include position-center;
	display: none;
	position: fixed;
	bottom: 2%;
	right: 1%;
	font-size: 2em;
	color: $text-color;
	&:hover {
		color: $link-hover;
		cursor: pointer;
	}
}
