/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@mixin position-center {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin position-x {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin position-y {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin scale-up {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

@mixin transition {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

$link: #95a5a6;
$link-hover: #2980b9;
$text-color: #333;

html, body {
  box-sizing: border-box;
  a {
		text-decoration: none;
		padding-bottom: 1vh;
		color: $link;
		
		&:hover {
			color: $link-hover;
			border-bottom: 3px solid;
		}
	}
}

.main-container {
	min-height: 100vh;
	height: auto;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.main-header {
	position: relative;
	top: 0;
	width: 100%;
	height: 15vh;
	margin: 0 0 10vh 0;
	font-weight: lighter;
	letter-spacing: 1px;
	border-bottom: 1px solid #dbdbdb;

	.flash {
		@include position-center;
		position: absolute;
		text-align: center;
		width: 50vw;
		height: 14vh;
		top: 50%;
		left: 50%;
		z-index: 1;
		font-size: 1.2em;

		.notice {
			@include position-center;
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			color: $link-hover;
		}

		.alert {
			@include position-center;
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			font-weight: normal;
			color: #c0392b;
		}
	}

	.left {
		position: absolute;
		@include position-center;
		top: 50%;
		left: 10%;
		font-size: 1.2em;

		p {
			display: inline-block;
			padding-left: 1.5em;
		}
	}

	.right {
		position: absolute;
		@include position-center;
		top: 50%;
		right: 0;
		font-size: 1.2em;

		p {
			display: inline-block;
			padding-left: 1.5em;
		}
	}
}

/*DEVISE FORMS*/

.devise-form-wrapper {
	position: absolute;
	@include position-center;
	left: 50%;
	top: 55%;
	width: auto;
	min-width: 50vw;
	height: 65vh;
	font-weight: lighter;
	font-size: 1.5em;

	h2 {
		font-size: 2.3em;
		font-weight: lighter;
		text-align: center;
		letter-spacing: 1px;
	}
	
	/*only if label exists*/
	label {
		padding-bottom: 0.3em;
		margin-right: 1em;
		font-weight: lighter;
		letter-spacing: 1px;
	}

	.image {
		border-bottom: none;
	}

	input {
		position: relative;
		@include position-x;
		left: 50%;
		outline: none;
		border: none;
		width: 60%;
		margin-bottom: 1em;
		padding: 0.3em;
		@include transition;

		&:focus {
			background-color: #ecf0f1;
		}

		&:active, &:visited {
			outline: none;
		}
	}

	textarea {
		position: relative;
		left: 0;
		width: 100%;
		height: 40vh;
		border: none;
		border-bottom: 1px solid #dbdbdb;
		outline: none;
		background-color: #ecf0f1;
		resize: none;

		.image {
			border-bottom: none;
		}
	}

	.remember-me {
		position: relative;
		@include position-x;
		left: 50%;
		width: 20vw;
		margin: 0.8em 0 0.8em 0;
		.checkbox input[type=checkbox], 
		.checkbox-inline input[type=checkbox], 
		.radio input[type=radio], 
		.radio-inline input[type=radio] {
			margin: 10px 0 -20px 150px;
		}
	}

	.btn {
		@include position-x;
		position: relative;
		left: 50%;
		border-radius: 0;
		font-size: 1.1em;
		font-weight: normal;
		width: 50%;
		margin: 5vh 0 15vh 0;
		background-color: $link-hover;
		border-bottom: none;
		color: #fff;
		&:hover {
			background-color: #3498db
		}
	}

	.devise-links {
		position: relative;
		width: 100%;
		font-size: 0.8em;
		bottom: 0vh;

		.password-recovery,
		.login {
			margin-top: 1em;
			margin-bottom: 5vh;
			text-align: center;
		}
	}

	abbr {
		display: none;
	}

	.cancel {
		position: relative;
		width: 100%;
		font-size: 0.8em;
		bottom: 0vh;
		margin-top: 1em;
		margin-bottom: 5vh;
		text-align: center;
	}

	.login {
		margin-top: 0;
	}
}

/*.page-footer {
	position: relative;
	bottom: 0;
	background-color: red;
}*/