/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@mixin position-center {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin position-x {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin position-y {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

$link: #95a5a6;
$link-hover: #2980b9;
$text-color: #333;

html, body {
  box-sizing: border-box;
  height: auto;
	min-height: 100vh;
  a {
		text-decoration: none;
		padding-bottom: 1vh;
		color: $link;
		
		&:hover {
			color: $link-hover;
			border-bottom: 3px solid;
		}
	}
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main-header {
	position: relative;
	top: 0;
	width: 100%;
	height: 15vh;
	margin: 0 0 10vh 0;
	font-weight: lighter;
	letter-spacing: 1px;
	border-bottom: 1px solid #dbdbdb;

	.flash {
		@include position-center;
		position: absolute;
		text-align: center;
		width: 40vw;
		height: 8vh;
		top: 50%;
		left: 50%;
		z-index: 1;
		font-size: 1.2em;

		.notice, .alert {
			@include position-center;
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			color: $link-hover;
		}
	}

	.left {
		position: absolute;
		@include position-center;
		top: 50%;
		left: 10%;
		font-size: 1.2em;

		p {
			display: inline-block;
			padding-left: 1.5em;
		}
	}

	.right {
		position: absolute;
		@include position-center;
		top: 50%;
		right: 0;
		font-size: 1.2em;

		p {
			display: inline-block;
			padding-left: 1.5em;
		}
	}
}

/*.page-footer {
	position: relative;
	bottom: 0;
	background-color: red;
}*/