// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*COMMENT FORM*/

@import "appwide";

.comments {
	position: relative;
	left: 5%;
	margin-bottom: 10em;
	display: block;
	max-width: 90vw;
	min-width: 370px;	
	h2 {
		color: $link-hover;
		margin-bottom: 1em;
	}
	.user {
		font-size: 1.2em;
		color: $text-color;
		font-weight: bold;
		a:hover {
			border-bottom: none;	
		}
		.image {
			display: inline-block;
			img {
				border-radius: 100%;
				width: 70%;
			}
		}
		.name {
			display: inline-block;
			margin-left: -0.5em;
		}
	}
	.content {
		margin: 1em 0 3em 0;
		padding-bottom: 2em;
		border-bottom: 1px solid #dbdbdb;
		width: 40vw;
		min-width: 370px;
	}

	.delete {
		font-weight: normal;
		font-size: 0.8em;
		display: inline-block;
		margin-left: 0.5em;
		&:hover {
			border-bottom: none;
		}
		@include mobile-viewport {
			font-size: 1.2em;
			margin-left: 1em;
		}
	}
}

.comment-form {
	margin: 2em 0 10vh 0;
	max-width: 90vw;
	position: relative;
	left: 5%;
	min-width: 370px;
	@include mobile-viewport {
		font-size: 1.2em;
		margin-top: 0;
	}
	label {
		display: block;
		font-size: 1.3em;
		color: $link-hover;
		margin-bottom: 0.5em;
	}
	textarea {
		border: none;
		height: 200px;
		width: 40vw;
		min-width: 350px;
		resize: none;
		margin-bottom: 2em;
		border-bottom: 1px solid #dbdbdb;
		background-color: #ecf0f1;
		outline: none;
		@include transition;
	}
	input[type=submit] {
		border-radius: 0;
		background-color: $link-hover;
		color: #fff;
		@include transition;
		&:hover {
			background-color: #3498db;
		}
	}

	abbr {
		display: none;
	}
}