// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*COMMENT FORM*/

@mixin position-center {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin position-x {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin position-y {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin scale-up {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

@mixin transition {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

html, body {
  box-sizing: border-box;
	height: auto;
	min-height: 100vh;

  a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}
}

body {
	height: auto;
	min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

$link: #95a5a6;
$link-hover: #2980b9;
$text-color: #333;

.comments {
	position: relative;
	left: 5%;
	margin-bottom: 4em;
	display: block;

	h2 {
		color: $link-hover;
		margin-bottom: 1em;
	}

	.user {
		font-size: 1.2em;
		color: $text-color;
		font-weight: bold;
	}

	.content {
		margin: 1em 0 3em 0;
		padding-bottom: 2em;
		border-bottom: 1px solid #dbdbdb;
		width: 40vw;
	}

	.delete {
		font-weight: normal;
		font-size: 0.8em;
		display: inline-block;
		margin-left: 0.5em;
		&:hover {
			border-bottom: none;
		}
	}
}

.comment-form {
	margin: 2em 0 10vh 0;
	position: relative;
	left: 5%;

	label {
		display: block;
		font-size: 1.3em;
		color: $link-hover;
		margin-bottom: 0.5em;
	}

	textarea {
		border: none;
		height: 30vh;
		width: 35vw;
		resize: none;
		margin-bottom: 2em;
		border-bottom: 1px solid #dbdbdb;
		background-color: #ecf0f1;
		outline: none;
		@include transition;
	}

	input[type="submit"] {
		border-radius: 0;
		background-color: $link-hover;
		color: #fff;
		@include transition;

		&:hover {
			background-color: #3498db;
		}
	}

	abbr {
		display: none;
	}
}