@import "appwide";
/*DEVISE FORMS*/

.devise-form-wrapper {
  margin: 0 auto;
  width: auto;
  min-width: 380px;
  height: auto;
  font-weight: lighter;
  font-size: 1.5em;

  h2 {
    font-size: 2.3em;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 0 0.5em 0;
  }

  .image {
    border-bottom: none;
  }

  input[type=text],
  input[type=password],
  input[type=file],
  input[type=email] {
    position: relative;
    @include position-x;
    left: 50%;
    outline: none;
    border: none;
    max-width: 400px;
    width: 60%;
    min-width: 340px;
    margin-bottom: 1em;
    padding: 0.3em;
    @include transition;

    &:focus {
      background-color: #ecf0f1;
    }

    &:active, &:visited {
      outline: none;
    }
  }

  textarea {
    position: relative;
    @include position-x;
    left: 50%;
    width: 60%;
    max-width: 400px;
    min-width: 340px;
    height: 225px;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    outline: none;
    background-color: #ecf0f1;
    margin-bottom: 1em;
    @include mobile-viewport {
      resize: none;
      margin-bottom: 0.5em;
    }
    .image {
      border-bottom: none;
    }
  }

  input[type=submit] {
    @include position-x;
    position: relative;
    left: 50%;
    width: 200px;
    height: 50px;
    border-radius: 0;
    font-size: 1.1em;
    font-weight: normal;
    margin: 1em 0 10vh 0;
    color: #fff;
    background-color: $link-hover;
    &:hover {
      background-color: #3498db;
    }
    @include mobile-viewport {
      width: 150px;
    }
  }

  // only if label exists
  label {
    padding-bottom: 0.3em;
    margin-right: 1em;
    font-weight: lighter;
    @include mobile-viewport {
      display: none;
    }
  }

  .remember-me {
    position: relative;
    @include position-x;
    left: 50%;
    width: 20vw;
    margin: 0.8em 0 0.8em 0;
    .checkbox input[type=checkbox], 
    .checkbox-inline input[type=checkbox], 
    .radio input[type=radio], 
    .radio-inline input[type=radio] {
      margin: 10px 0 -20px 150px;
    }
  }

  .devise-links {
    position: relative;
    width: 100%;
    font-size: 0.8em;
    bottom: 0vh;

    .password-recovery,
    .login {
      margin-top: 1em;
      margin-bottom: 5vh;
      text-align: center;
    }
  }

  abbr {
    display: none;
  }

  .cancel {
    position: relative;
    width: 100%;
    font-size: 0.8em;
    bottom: 0vh;
    margin-top: 1em;
    margin-bottom: 5vh;
    text-align: center;
  }

  .login {
    margin-top: 0;
  }

  .error-title {
    color: red;
    text-align: center;
    margin-bottom: 2em;
  }

  .error {
    display: inline-block;
    color: red;
    position: absolute;;
    margin-left: 20%;
    width: 30vw;
    &:before {
      content: "*"
    }
  }
}