@import "appwide";

.main-header {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 90px;
  height: auto;
  margin: 0 0 70px 0;
  font-weight: lighter;
  font-size: 1.2em;
  letter-spacing: 1px;
  border-bottom: 1px solid $border-color;
  p, a {
    display: inline-block;
    padding: 0.5em;
    margin: 0;
  }
  .share-link-icon {
    vertical-align: top;
    &:hover {
      border-bottom: none;
    }
    i {
      font-size: 2em;
    }
  }
  .left {
    @include position-y;
    position: absolute;
    height: 82px;
    top: 50%;
    width: 45%;
    left: 2%;
    a {
      position: relative;
      @include position-y;
      top: 50%;
    }
    .title {
      top: 30px;
      font-weight: normal;
    }
    .share-link {
      top: 30px;
    }
    .user-avatar {
      img {
        border-radius: 100%;
        height: 50px;
        width: 50px;
      }
      &:hover, &:active, &:visited, &:focus {
        border-bottom: none;
      }
    }
  }

  .flash {
    @include position-center;
    position: absolute;
    text-align: center;
    width: 50vw;
    height: 14vh;
    top: 50%;
    left: 50%;
    z-index: -1;

    .notice {
      @include position-center;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      color: $link-hover;
    }

    .alert {
      @include position-center;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      font-weight: normal;
      color: #c0392b;
    }
  }

  .right {
    @include position-y;
    position: absolute;
    height: 82px;
    top: 50%;
    text-align: right;
    width: 45%;
    right: 2%;
    a {
      position: relative;
      @include position-y;
      top: 50%;
    }
  }
  @include medium-viewport {
    .left {
      .title {
        display: none;
      }
    }
  }
  @include mobile-viewport {
    min-height: 80px;
    .left {
      @include position-original;
      position: relative;
      width: 100%;
      left: 0;
      .title {
        display: none;
      }
      .drop-icon {
        font-size: 2em;
        position: absolute;
        vertical-align: middle;
        padding: 0.2em;
        @include position-y;
        right: 2%;
        top: 50%;
        color: $link;
        &:hover {
          cursor: pointer;
          color: $link-hover;
        }
      }
    }
    .right {
      @include position-original;
      display: none;
      position: relative;
      text-align: center;
      right: 0;
      font-weight: 400;
      width: 100%;
      margin-bottom: 2em;
      a {
        width: 60%;
        &:hover {
          border-bottom: 0;
        }
      }
    }
  }
}