// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin position-center {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin position-x {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin position-y {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin scale-up {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

@mixin transition {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

html, body {
  box-sizing: border-box;
	height: auto;
	min-height: 100vh;

  a {
		text-decoration: none;
		color: inherit;

		&:hover,{
			text-decoration: none;
		}
	}
}

body {
	height: auto;
	min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

$link: #95a5a6;
$light-link-hover: #3498db;
$link-hover: #2980b9;
$text-color: #333;
$form-color: #ecf0f1;
$confirm-color: #27ae60;

// SEARCH BAR LINE

.search-bar {
	display: inline-block;
	text-align: center;
	font-weight: lighter;
	font-size: 1em;
	margin: 1em 0.3em 1.5em 0.3em;
	width: auto;
	::-webkit-input-placeholder {
		text-align: center;
	}
	:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
	}
	::-moz-placeholder {  /* Firefox 19+ */
	  text-align: center;  
	}
	:-ms-input-placeholder {  
	  text-align: center; 
	}
	form {
		width: auto;
	}
	#search {		
		margin-top: 1em;
		background-color: $form-color;
		width: 20vw;
		color: $link-hover;
		border: none;
		padding: 0.2em;
		&:focus {
			outline: none;
		}
	}

	.search-button {
		border: none;
		font-size: 1em;
		padding: 0.2em;
		font-weight: lighter;
		color: $link-hover;
		background-color: transparent;
		&:hover {
			color: #3498db;
		}
	}
}


// INDEX 	

.welcome {
	margin: 0 auto 5em auto;
	text-align: center;
	width: auto;
	height: auto;
	font-weight: lighter;
	letter-spacing: -1px;
	font-size: 2em;

	.app-title {
		color: $link-hover;
		font-size: 2em;
	}

	.app-search {
		font-size: 0.9em;
	}

	.welcome-user {
		font-size: 1.8em;
	}

	.link-user a {
		color: $link-hover;
		&:hover {
			color: $light-link-hover;
		}
	}

	.sign-up {
		@include position-x;
		position: relative;
		left: 50%;
		width: 50vw;
		border-top: 1px solid #dbdbdb;
		padding: 6vh 0 4vh 0;
		font-weight: normal;
		font-size: 1.2em;
		a {
			color: $confirm-color;
			&:hover, &:visited, &:active, &:focus {
				color: $confirm-color;
			}
		}
	}
	
	p, .share-link {
		@include position-x;
		position: relative;
		left: 50%;
		width: 50vw;
		border-top: 1px solid #dbdbdb;
		padding: 6vh 0 4vh 0;
		font-weight: normal;
		font-size: 0.8em;
		color: $link;

		a {
			padding-bottom: 0.6em;
			&:hover {
				color: $link-hover;
				border-bottom: 3px solid;
			}
			&:focus {
				color: $link-hover;
				text-decoration: none;
			}
		}
	}

	// FORM-AJAX
	.ajax {
		font-size: 0.7em;
		font-weight: lighter;
		margin: 1em auto 0 auto;
		text-align: center;
		input {
			@include transition;
			outline: none;
			border: none;
			min-width: 35vw;
			margin-bottom: 1em;
			padding: 0.3em;
			&:focus {
				background-color: $form-color;
			}
		}

		textarea {
			background-color: $form-color;
			outline: none;
			border: none;
			border-bottom: 1px solid #dbdbdb;
			min-height: 40vh;
			min-width: 35vw;
		}
		.btn {
			border-radius: 0;
			font-size: 1.1em;
			font-weight: normal;
			min-width: 20vw;
			margin: 5vh 0 15vh 0;
			background-color: $link-hover;
			border-bottom: none;
			color: #fff;
			&:hover {
				background-color: #3498db;
			}
		}
		.form-inputs {
			margin: 3em auto 0 auto;
			width: 35vw;
		}
	}
}

// INDIVIDUAL POSTS ON INDEX

.post-wrapper {
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 12vh;
	padding-bottom: 4vh;

	.image-wrapper {
		width: 100%;
		height: 225px;
		overflow: hidden;
		text-align: center;
		&:hover {
			img {
				@include transition;
				@include scale-up;
			}
		}
	}

	h1 {
		text-align: center;
		font-weight: normal;
		letter-spacing: -1px;
		a {
			color: $link-hover;
			&:hover {
			color: $light-link-hover;
			border-bottom: none;
			}
		}
	}

	.likes-comments {
		margin: 0 auto 0 auto;
		text-align: center;
		color: $text-color;
		font-weight: normal;
		span {
			font-family: "Open Sans", sans-serif;
		}
	}

	.tags {
		margin: 0.5em auto 0.5em auto;
		text-align: center;
	}

	.post-user {
		font-size: 1.1em;
		margin-top: 0.6em;
		color: $link;
		text-align: center;
	}
}


/*SHOW*/

.show-post-wrapper {
	position: relative;
	display: inline-block;
	left: 5%;
	margin: 0 0 5vh 0;
	padding-bottom: 5vh;
	border-bottom: 1px solid #dbdbdb;
	width: 60vw;

	h1 {
		font-size: 3em;
		letter-spacing: 1px;
	}

	.show-subtitle {
		font-size: 0.5em;
		margin-left: 1em;
		color: $link;

		.show-edit-delete {
			font-size: 0.7em;
		}

		.visit-link {
			@include transition;
			background-color: $link-hover;
			width: auto;
			display: inline-block;
			padding: 0.5em 0.5em 0.5em 0.5em;
			font-size: 0.8em;
			margin-right: 1em;
			font-weight: normal;

			&:hover {
				background-color: #3498db;
			}

			a {
				color: #fff;

				&:hover {
					border-bottom: none;
				}
			}
		}
	}

	h5 {
		font-size: 1.2em;
		color: $link;
	}

	p {
		color: $text-color;
		font-size: 1.2em;
	}

	img {
		margin-top: 1em;
		width: 90%;
	}

	.show-likes-comments {
		width: 90%;
		font-size: 1.3em;
		margin: 1em 0 1em 0;
		padding-right: 10px;

		a {
			margin-right: 1.5em;
			color: $link-hover;
		}
	}
}

.tags {
	font-size: 1.2em;
	color: $link;
	margin-bottom: 1em;
}

.show-sidebar {
	display: inline-block;
	position: relative;
	float: right;
	margin-right: 5%;
	width: 25vw;
	font-size: 0.8em;
	border-left: 1px solid #dbdbdb;
	text-align: center;
	opacity: 0.8;
	@include transition;
	&:hover {
		opacity: 1;
	}

	h3 {
		font-weight: normal;
		margin-bottom: 2em;
	}

	img {
		height: 50%;
		width: 80%;
	}

	a {
		font-size: 0.8em;
		font-weight: normal;
	}

	i {
		margin-top: 1em;
	}
}