@import "appwide";

// SEARCH RESULTS PAGE

.query-title {
	@include position-center;
	position: relative;
	left: 50%;
	width: auto;
	margin: 3em auto 3em auto;
	text-align: center;
	font-size: 3em;
	font-weight: lighter;
	.query-name {
		color: $link-hover;
		font-weight: normal;
	}
}